<style>
.container {
  max-width: {{ .Site.Params.containerMaxWidth | default "700px" | safeCSS }};
}
#nav a {
  font-weight: bold;
  color: inherit;
    padding: 20px 40px 20px 40px;
}
#nav a.nav-link-active {
  background-color: #212529;
  color: #fff;
}
#nav-border {
    background-color: white;
}
#main {
    margin: 5% auto;
    width: 800px;
    padding: 3% 5% 20px 5%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(10,10,10,0.1),0px 1px 2px rgba(10,10,10,0.1),0px 0px 1px rgba(10,10,10,0.8),0 0 0 1px transparent;
}
#home-jumbotron {
  background-color: inherit;
}
#footer .container {
  padding: 1em 0;
}
#footer a {
  color: inherit;
  text-decoration: underline;
}
.font-125 {
  font-size: 125%;
}
.tag-btn {
  margin-bottom: 0.3em;
}
pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit; 
  background-color: transparent;
  border-radius: 0;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
img,
iframe,
embed,
video,
audio {
  max-width: 100%;
}
.card-img,
.card-img-top,
.card-img-bottom {
  width: initial;
}
</style>