@font-face {
    font-family: Imperial;
    src:url(../fonts/imperial-normal-500.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Cheltenham;
    src:url(../fonts/cheltenham-italic-700.ttf);
    font-weight: normal;
}

.bluepin {
    background-color : #3498db!important;
    color: white!important;
}

.redpin {
    background-color : #e74c3c!important;
    color: white!important;
}

.cat-item {
display: inline-flex;}

.news_status {
    font-size: 14px;
}

.box_status{
    background: none!important;
    border: none!important;
    box-shadow: none!important;
}

.justBold{
    font-weight: bold;
    background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
    background-position: bottom;
    background-size: 5px 2px;
    background-repeat: repeat-x;
    padding-bottom: 3px;

}


.article-point {
    font-weight: bold;
    font-size: 30px;
}

h4.anchor{
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.index-div-applause{
    margin-top: 65px;
    width: 200px;
    transform: translate(-230px, 80px);
    border-radius: 6px;
}

.element-applause {
    width: 58px;
    height: 58px;
    display: block;
    margin: 0 auto;
}

.highlight-1 {
    background-repeat: no-repeat;
    background-size: 100% 45%;
    background-position: 0 100%;
    background-image: linear-gradient(120deg,#def924,#fff);
    font-family: Cheltenham !important;
    color: #121212;
    text-align: left;
    font-size: 2.5rem;
    line-height: 3rem;
}

.list-title {
    font-family: Cheltenham;
}

.moreButton{

    color: #fff;
    background-color: #3498db;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    display: inline-block;
    font-weight: bold;
    border: 2px solid #3498db;
}

.moreButton:hover {

    color: #3498db;
    background-color: #fff;
    border-radius: 2px;
    border: 2px solid #3498db;
}

.date-modif{
    font-size: 9px!important;
    font-style: italic;
}

.date-create{
    font-size: 11px!important;
}

.social-icon {
    font-size: 30px;
    text-align: center;
}

.footer-bmc{
    position: fixed !important;
    width: 45px !important;
    height: 45px !important;
    cursor: pointer !important;
    z-index: 1 !important;
    bottom: 30px !important;
    right: 30px !important;
    border-radius: 6px !important;
}